
.clients{
    padding: 50px 0;
    background-color: #383838;
    .clients-image{
        background-color: #333333;
        padding: 40px 0;
        height: 160px;
        opacity: 0.2;
        
    }
}

.clients >row{
    line-height: 160px;
}
.clients .clients-image:hover{
    background-color: #333333;
    opacity: 0.9;
}