
.clients{
   // padding: 50px 0;
    background-color: #383838;
    .clients-image{
        background-color: #333333;
        padding: 40px 0;
        //height: 160px;
        opacity: 0.2;

    }
}

.clients >row{
    line-height: 160px;
}
.clients .clients-image:hover{
    background-color: #333333;
    opacity: 0.9;
}



@media(min-width:992px){
    .clients > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
        position: absolute;
        right: 10px;
        top: 25%;
        background-color: #00A99D;
    }

    .clients > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        position: absolute;
        left: 10px;
        display: block;
        top: 25%;
    }

    .clients{
        position: relative;
    }
}


.clients div.square:last-of-type{
    background-color: #00A99D;
}



@media(min-width:576px){
    .clients .col-sm-6,
    .clients .col-md-3{
        max-width: 100%;
    }
}




/*.carousel-control-next-icon {
position: absolute;
top: -42px;
}

.carousel-control-prev-icon {
position: absolute;
top: -40px;
}

div.carousel-item:nth-child(1) {
display: block;
text-align: center;
}

@media(min-width:576px){
   div.carousel-item:nth-child(2) {
display: block;
text-align: center;
} 
}

@media(min-width:768px){
       div.carousel-item:nth-child(3),
       div.carousel-item:nth-child(4),{
display: block;
text-align: center;
}
}*/



.clients .owl-dots{
    display: none;
}

.clients .owl-nav.disabled{
    display: flex;
    font-size: 60px;
    font-weight: 800;
    color: #00A99D;
    justify-content: space-between;

}

.clients-slider > div:nth-child(2) > button:nth-child(1) > span:nth-child(1) {
position: absolute;
top: 25%;
left: 15px;
}
.clients-slider > div:nth-child(2) > button:nth-child(2) > span:nth-child(1) {
position: absolute;
top: 25%;
right: 15px;
}


.owl-carousel .owl-item img {

margin: 0 auto;
}