

.social{
    background-color: #383838;
    padding: 80px 0;
    h3{
        color: #E4E4E4;
        margin-bottom: 50px;

    }
    .social-item{
        .social-item-cube{
            width: 40px;
            height: 40px;
            border: 1px solid #DEDEDE;
            border-radius: 4px;
            display: inline-block;
            text-align: center;
            line-height: 40px;
            &:hover{
                background-color: #00A99D;
            }
            a{
                color: #E4E4E4;
            }
        }
    }
}


.contact-form{
    width: 400px;
    max-width: 100%;
    padding: 20px ;
    border-radius: 4px;
    background-color:#E3E3E3;
    .form-group{
        margin-bottom: 20px;
        input{
            height: 40px;
            padding: 5px ;
            border-radius: 4px;
            width: 100%;
            border: 1px solid #EBEBEB;
        }

    }
    button{
        width: 100%;
        background-color: #00A99D;
        border-radius: 5px;
        &:hover{
            color:  #00A99D;
            background-color:#383838;
            
        }
    }
    .contact-map .map{
        width: 1500px;
        max-width: 100%;
    } 
}

@media(min-width:576px){
.footer-contact{
    position: relative;
}
.contact-form-item{
    position: absolute;
    top: 70px;
    left: 70px;
}
}
.copyright{
    background-color: #333333;
    margin-top: -20px;
    padding-bottom: 50px;
    p{
        color: #8A8A8A;
        font-size: 16px;
        padding: 50px 0 0
    }
    a{
        color: #8A8A8A;
        font-size: 16px;
    }
    
}

.cubes{
   width: 30px;
   height: 30px;
   transform:rotate(45deg);
    //margin-top: -19px;
    margin-bottom: 70px;
   margin: 0 auto;
   background-color: #00A99D;
}

.contact-map iframe{
    max-width: 100%;
}

footer .cubes svg{
    transform: rotate(-45deg);
    color: #E4E4E4;
}

.footer-contact p{
    color: red;
}