
.price{
    padding: 30px 0 0 0;
    .price-item{
        border: 1px solid #DEDEDE;
        text-align: center;
        &:hover .price-title,
           {
            background-color:  #00A99D;
            transform: scale(1.1);
            transition: 1s;
        }
        .price-title{
            background-color: #383838;
            width: 138px;
            height: 40px;
            line-height: 40px;
            font-size: 1.3rem;
            color: #E4E4E4;
            margin: 0 auto;
            margin-top: -16px;
            text-transform: uppercase;
            margin-bottom: 25px;
            border-radius: 4px;
           
        }
        .advance{
            width: 198px;
            i{
                color: #00A99D;
            }
        }
       
        .price-monthly{
            margin-bottom: 25px;
            font-size: 60px;
            span{
                color: #8A8A8A;
                font-size: 12px;
                text-transform: none;
            }
        }
        .line{
            width: 228px;
            height: 1px;
            background-color: #EBEBEB;
           margin: 0 auto;
           margin-bottom: 25px;
        }
        
        .price-data{
            p{
                font-size: 14px;
                color: #8A8A8A;
                margin-bottom: 25px;
            }
        }
        .btn-outline{
            width: 118px;
            height: 39px;
            background-color: #00A99D;
            color: #E4E4E4;
            font-size: 13px;
            text-transform: uppercase;
            margin-bottom: 26px;
           
        }
    }
   
}
.price-item:hover .advance i{
    color: #383838;
}

/*.price div.row  div.col:nth-of-type(3) .price-item  .price-title{
    width: 198px;
}*/


.purchase{
    background-color: gray;
    opacity: 0.9;
    padding: 50px 0;
    margin-top: 80px;
    
    h1{
        text-transform: capitalize;
        font-size: 20px;
        //color: #606060;
        font-weight: 800;
        span{
            text-transform: uppercase;
        }
    }
    button{
        color: #E4E4E4;
        background-color: #00A99D;
        &:hover{
            color: #00A99D;
            background-color: #E4E4E4;
        }
    }
    i{
       color:#E4E4E4;
    }
    
}

.purchase button:hover i{
    color:  #00A99D;
}
.purchase-title i{
    color:  #00A99D;
} 

@media(min-width:992px){
    .price{
        padding: 80px 0;
    }
}

@media(min-width:768px){
    .purchase-item{
        display: flex;
        justify-content: space-between;
    }
}